// main: ../main.scss
/*--------------------------------------------------------------
# Tenant Section
--------------------------------------------------------------*/
.tenant {
  .tenant-filters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      margin: 0 10px;
      line-height: 1;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &.filter-active {
        color: var(--accent-color);
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 575px) {
        font-size: 14px;
        margin: 0 5px;
      }
    }
  }
}