<footer id="footer" class="footer position-relative dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">LBFest</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Business Creation Program @Binus Alam Sutera</p>
            <p>Jl. Jalur Sutera Bar. No.Kav. 21, RT.001/RW.004</p>
            <p>Panunggangan, Kec. Pinang, Kota Tangerang, Banten 15143</p>
            <p><strong>Email:</strong> <a href="mailto:binus.businesscreation@gmail.com">binus.businesscreation@gmail.com</a> / <a href="http://lbfest.binus.ac.id" target="_blank" rel="noopener noreferrer">lbfest.binus.ac.id</a></p>
          </div>
          <div class="social-links d-flex mt-4">
            <!-- <a href=""><i class="bi bi-twitter-x"></i></a> -->
            <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
            <a href="https://www.instagram.com/lbfest_id/"><i class="bi bi-instagram"></i></a>
            <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
          </div>
        </div>

        <div class="col-lg-3 col-md-3 footer-links" style="display: flex; justify-content: center;">
          <img style="max-width: 80%; object-fit: contain;" src="assets/img/logo-binus.png" alt="Binus Logo">
        </div>

        <div class="col-lg-3 col-md-3 footer-links" style="display: flex; justify-content: center;">
          <img style="max-width: 80%; object-fit: contain;" src="assets/img/logo-bbs.png" alt="BBS Logo">
        </div>

        <div class="col-lg-2 col-md-3 footer-links" style="display: flex; justify-content: center;">
          <img style="max-width: 80%; object-fit: contain;" src="assets/img/logo/logo-bc.png" alt="BC Logo">
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">LBFest</strong> <span>All Rights Reserved</span></p>
    </div>

</footer>