<header id="header" class="header d-flex align-items-center fixed-top">

  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../assets/img/logo/logo-LBFest2025-horizontal.png" alt="">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="lbfest-2025.html">LBFEST 2025</a></li>
        <li class="dropdown"><a href="#"><span>Past LBFEST</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="lbfest-2024.html">LBFEST 2024</a></li>
            <li><a href="lbfest-2023.html">LBFEST 2023</a></li>
          </ul>
        </li>
        <li><a href="contact-us.html">Contact Us</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>
